@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background: #22252e;
    margin-top: 40px;
}

.segment {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 350;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-top: 50px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
    gap: 50px;
}

.segment:last-child {
    background-color: red !important;
}

.segment div {
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    position: relative;
    background: #444;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #22252e;
}

a span {
    position: relative;
    z-index: 1;
    display: block;
}

a i {
    position: absolute;
    inset: 0;
}

a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #22252e;
    transition: 0.5s;
    transform: translateX(-50%);
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #22252e;
    transition: 0.5s;
    transform: translateX(-50%);
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

.image {
    position: relative;
    width: 500px;
}

.image::before {
    content: '';
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    left: 85px;
    top: -15px;
    box-shadow: -10px -10px 0 white;
}

.image::after {
    content: '';
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    right: 85px;
    bottom: -15px;
    box-shadow: 10px 10px 0 white;
}

img {
    width: 500px;
}

@media (max-width: 1230px) {
    body {
        grid-template-columns: repeat(1, 1fr);
    }

    .segment {
        width: 90vw;
    }
}